* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.wrap {
  max-width: 1140px;
  margin: 0 auto; }

.header {
  background-color: #eff0f2;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 64px 0 194px 0; }
  .header__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header__logo {
    width: 113px;
    margin-bottom: 179px; }
  .header__title {
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    line-height: 0.622;
    letter-spacing: 1.5px;
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
    color: #505050; }
    .header__title-span {
      background-color: #b2f2ee;
      padding: 0 10px; }
  .header__contact {
    text-align: center;
    margin-top: 153px; }
    .header__contact-btn {
      text-transform: uppercase;
      border: 3px solid #777879;
      color: #3c3c3d;
      background-color: transparent;
      text-align: center;
      letter-spacing: 1.7px;
      font-weight: 500;
      font-size: 18px;
      padding: 14px 45px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border-radius: 2px;
      cursor: pointer; }
      .header__contact-btn:hover {
        background-color: #6eeee4;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        color: white; }
  .header__glass-img {
    position: absolute;
    right: 84px;
    top: 517px; }

.main__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 39px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323333;
  margin-bottom: 6px; }

.main__title-p {
  text-align: center;
  font-style: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #848585;
  letter-spacing: 1.3px; }

.main__new-line {
  margin: 30px 0 32px; }

.main__about-us {
  background-color: #f8fafa;
  padding: 123px 0 163px; }
  .main__about-us_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 145px; }
  .main__about-us_img-block {
    width: 46%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main__about-us_img-block_image {
      background-color: #e4e5e8;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
      box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13); }
  .main__about-us_text {
    width: 46%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .main__about-us_text_title, .main__about-us_text_title2 {
      font-family: "Merriweather", sans-serif;
      text-transform: uppercase;
      color: #646565;
      letter-spacing: 1.4px; }
    .main__about-us_text_title {
      font-weight: 800;
      font-size: 20px;
      margin-bottom: 21px; }
    .main__about-us_text_title2 {
      font-size: 17px;
      font-weight: 800;
      margin-bottom: 16px; }
    .main__about-us_text_description {
      font-family: "Raleway", sans-serif;
      text-transform: none;
      color: rgba(0, 0, 0, 0.741);
      line-height: 1.75;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.9px; }

.main__works {
  padding: 121px 0 103px 0;
  background-color: #ffffff; }
  .main__works_content {
    margin-top: 59px;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 15px;
    column-gap: 15px;
    row-gap: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.main__team {
  padding: 107px 0 0 0;
  background-color: #f9fbfb; }
