* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  background-color: #eff0f2;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 64px 0 213px 0; }
  .header__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header__logo {
    width: 113px;
    margin-bottom: 179px; }
  .header__title {
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    line-height: 0.622;
    letter-spacing: 1.5px;
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
    color: #505050; }
    .header__title-span {
      background-color: #b2f2ee;
      padding: 0 10px; }
  .header__contact {
    text-align: center;
    margin-top: 170px; }
    .header__contact-btn {
      text-transform: uppercase;
      border: 2px solid #777879;
      color: #3c3c3d;
      background-color: transparent;
      text-align: center;
      letter-spacing: 1.7px;
      font-weight: 500;
      font-size: 18px;
      padding: 14px 45px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border-radius: 2px;
      cursor: pointer;
      outline: none; }
      .header__contact-btn:hover {
        background-color: #6eeee4;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        color: white; }
      .header__contact-btn:active {
        background-color: #e4e5e8;
        color: #214744;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
  .header__glass-img {
    position: absolute;
    right: 84px;
    top: 517px; }

.main__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 39px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323333;
  margin-bottom: 6px; }

.main__title-p {
  text-align: center;
  font-style: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #848585;
  letter-spacing: 1.3px; }

.main__new-line {
  margin: 30px 0 32px; }

.main__about-us {
  background-color: #f8fafa;
  padding: 120px 0 163px; }
  .main__about-us_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-column-gap: 93px;
    column-gap: 93px;
    margin-top: 145px; }
  .main__about-us_img-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main__about-us_img-block_image {
      max-width: 392px;
      max-height: 483px;
      background-color: #e4e5e8;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
      box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13); }
  .main__about-us_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .main__about-us_text_title, .main__about-us_text_title2 {
      font-family: "Merriweather", sans-serif;
      text-transform: uppercase;
      color: #646565;
      letter-spacing: 1.4px; }
    .main__about-us_text_title {
      font-weight: 800;
      font-size: 20px;
      margin-bottom: 21px; }
    .main__about-us_text_title2 {
      font-size: 17px;
      font-weight: 800;
      margin-bottom: 16px; }
    .main__about-us_text_description {
      font-family: "Raleway", sans-serif;
      text-transform: none;
      color: rgba(0, 0, 0, 0.741);
      line-height: 1.75;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.9px; }

.main__works {
  padding: 121px 0 103px 0;
  background-color: #ffffff; }
  .main__works_content {
    margin-top: 59px;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 15px;
    column-gap: 15px;
    row-gap: 10px; }
    .main__works_content-item-image {
      max-width: 370px;
      max-height: 359px;
      cursor: pointer; }

.main__team {
  padding: 105px 0 172px 0;
  background-color: #f9fbfb; }
  .main__team_content {
    margin-top: 118px;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    -webkit-column-gap: 16px;
    column-gap: 16px; }
    .main__team_content-item-image {
      max-width: 370px;
      max-height: 440px;
      cursor: pointer; }

.main__contact-us {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../img/contact-background.png") no-repeat center;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/contact-background.png") no-repeat center;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/contact-background.png") no-repeat center;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/contact-background.png") no-repeat center;
  background-size: 100%;
  opacity: 0.8;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 129px 0 123px 0;
  color: #b3bbc0;
  letter-spacing: 1px; }
  .main__contact-us_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 613px 500px;
    grid-template-columns: 613px 500px;
    -webkit-column-gap: 27px;
    column-gap: 27px; }
  .main__contact-us_hiden {
    display: none; }
  .main__contact-us_form, .main__contact-us_info {
    background-color: #021623;
    opacity: 0.9;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12);
    box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12); }
  .main__contact-us_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 46px 35px 41px; }
    .main__contact-us_form_name, .main__contact-us_form_subject, .main__contact-us_form_email, .main__contact-us_form_message {
      outline: none;
      border: 0;
      background-color: transparent;
      border-bottom: 1px solid rgba(204, 207, 209, 0.2);
      color: #b3bbc0; }
      .main__contact-us_form_name::-webkit-input-placeholder, .main__contact-us_form_subject::-webkit-input-placeholder, .main__contact-us_form_email::-webkit-input-placeholder, .main__contact-us_form_message::-webkit-input-placeholder {
        color: #b3bbc0;
        letter-spacing: 0.9px; }
      .main__contact-us_form_name:-ms-input-placeholder, .main__contact-us_form_subject:-ms-input-placeholder, .main__contact-us_form_email:-ms-input-placeholder, .main__contact-us_form_message:-ms-input-placeholder {
        color: #b3bbc0;
        letter-spacing: 0.9px; }
      .main__contact-us_form_name::-ms-input-placeholder, .main__contact-us_form_subject::-ms-input-placeholder, .main__contact-us_form_email::-ms-input-placeholder, .main__contact-us_form_message::-ms-input-placeholder {
        color: #b3bbc0;
        letter-spacing: 0.9px; }
      .main__contact-us_form_name::placeholder, .main__contact-us_form_subject::placeholder, .main__contact-us_form_email::placeholder, .main__contact-us_form_message::placeholder {
        color: #b3bbc0;
        letter-spacing: 0.9px; }
    .main__contact-us_form_subject, .main__contact-us_form_email, .main__contact-us_form_message {
      margin-top: 29px; }
    .main__contact-us_form_name, .main__contact-us_form_subject, .main__contact-us_form_email {
      padding-bottom: 13px; }
    .main__contact-us_form_message {
      padding-bottom: 77px; }
    .main__contact-us_form_submit {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: start;
      align-self: flex-start;
      text-transform: uppercase;
      padding: 15px 35px;
      font-family: "Montserrat", serif;
      font-size: 18px;
      font-weight: 600;
      color: #214744;
      border: 1px solid #777879;
      outline: none;
      text-align: center;
      letter-spacing: 1.7px;
      border-radius: 2px;
      background: #6eeee4;
      margin-top: 36px;
      color: #214744;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .main__contact-us_form_submit:hover {
        background-color: transparent;
        color: white;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      .main__contact-us_form_submit:active {
        background-color: #e4e5e8;
        color: #214744;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
  .main__contact-us_info {
    padding: 34px 30px 20px;
    font-size: 15px;
    letter-spacing: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main__contact-us_info a {
      outline: none;
      text-decoration: none;
      color: #b3bbc0; }
    .main__contact-us_info_address-line2, .main__contact-us_info_address-phone, .main__contact-us_info_address-fax, .main__contact-us_info_address-email {
      margin-top: 6.2px; }
    .main__contact-us_info_address-site {
      margin-top: 32px; }
  .main__contact-us_map {
    width: 100%;
    height: 224px;
    margin-top: 24px;
    opacity: 1; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 90px 0 152px;
  background-color: #262b2e; }
  .footer a {
    outline: none;
    color: white;
    border: none; }
  .footer__title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff; }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 21px;
    margin-top: 15px; }
    .footer__links_item {
      background-color: #3f4244;
      width: 45px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .footer__links_item:first-child, .footer__links_item:nth-child(2), .footer__links_item:nth-child(3) {
        margin-right: 8px; }
      .footer__links_item:hover {
        background-color: #6eeee4;
        color: black;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }

.hiden {
  display: none; }

.hiden-scroll {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10; }
  .modal__container {
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .modal__image {
    width: 100%; }
  .modal__close-button {
    width: 110%;
    border: none;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 60px;
    font-weight: bold;
    color: #b2f2ee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .modal__overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6); }

@media screen and (min-width: 800px) and (max-width: 1205px) {
  .header__title {
    font-size: 30px; }
  .main__about-us_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 50px; }
  .main__about-us_text {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main__works_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    text-align: center; }
  .main__team_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    text-align: center; }
  .main__contact-us_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 780px;
    grid-template-columns: 780px;
    row-gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media screen and (min-width: 420px) and (max-width: 800px) {
  .modal__container {
    width: 400px; }
  .modal__close-button {
    width: 100%; }
  .header__title {
    font-size: 15px; }
  .main__about-us_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 50px; }
  .main__about-us_text {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main__about-us_text_title {
      font-size: 16px; }
    .main__about-us_text_title2 {
      font-size: 13px; }
    .main__about-us_text_description {
      font-size: 12px; }
  .main__title {
    font-size: 30px; }
  .main__title-p {
    font-size: 14px; }
  .main__works_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center; }
  .main__team_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center; }
  .main__contact-us_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 410px;
    grid-template-columns: 410px;
    row-gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media screen and (max-width: 420px) {
  .modal__container {
    width: 310px; }
  .modal__close-button {
    width: 100%; }
  .header__title {
    font-size: 10px; }
  .main__title {
    font-size: 25px; }
  .main__title-p {
    font-size: 9px; }
  .main__about-us_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 50px; }
  .main__about-us_text {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main__about-us_text_title {
      font-size: 12px; }
    .main__about-us_text_title2 {
      font-size: 9px; }
    .main__about-us_text_description {
      font-size: 8px; }
  .main__about-us_img-block_image {
    max-width: 260px;
    max-height: 320px; }
  .main__works_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center; }
    .main__works_content-item-image {
      max-width: 260px;
      max-height: 252px; }
  .main__team_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center; }
    .main__team_content-item-image {
      max-width: 260px;
      max-height: 309px; }
  .main__contact-us_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 310px;
    grid-template-columns: 310px;
    row-gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
