* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  .container {
    max-width: 1169px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}

// HEADER
.header_background {
  background-color: #eff0f2;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  .header__text{
    padding-top: 193px;
    text-align: center;
    font-size: 39px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #505050;
    // line-height: 1.6em;
    // letter-spacing: 0.01em;
    text-shadow: 9px 9px 10px rgba(0, 0, 0, 0.24);
    span {
      background-color: #b2f2ee;
      padding: 0 10px;
    }
  }
  .header__button {
    padding-top: 139px;
    padding-bottom: 195px;
    text-align: center;
    background-image: url('../img/glass.png');
    background-repeat: no-repeat;
    background-position: 92% 60%;
    button {
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: #3c3c3d;
      line-height: 48px;
      border: 2px solid #777879;
      // transition: 3s ease;
      padding: 0 51px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      border-radius: 2px;
    }
  }
}

// MAIN