* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  .container {
    max-width: 1169px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}

// HEADER
.header_background {
  background-color: #eff0f2;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  .header__text{
    padding-top: 193px;
    text-align: center;
    font-size: 39px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #505050;
    // line-height: 1.6em;
    // letter-spacing: 0.01em;
    text-shadow: 9px 9px 10px rgba(0, 0, 0, 0.24);
    span {
      background-color: #b2f2ee;
      padding: 0 10px;
    }
  }
  .header__button {
    padding-top: 139px;
    padding-bottom: 195px;
    text-align: center;
    background-image: url('../img/glass.png');
    background-repeat: no-repeat;
    background-position: 92% 60%;
    button {
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: #3c3c3d;
      line-height: 48px;
      border: 2px solid #777879;
      // transition: 3s ease;
      padding: 0 51px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      border-radius: 2px;
    }
  }
}

// MAIN
// About Us
.main__gray-background {
  background-color: #f8fafa;
}
.main {
  h2 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.902);
    font-size: 38px;
    line-height: 0.737;
  }
  h3 {
    font-family: Merriweather, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
  p {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}

.head-text__description{
  font-family: Merriweather, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.main__about_us {
  display: flex;
  flex-direction: column;
  .about_us__head-text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .about_us__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    img {
      flex: 0 0 383px;
      background-color: rgb(228, 229, 232);
      box-shadow: 0 0 30px 0 rgba(20, 20, 21, 0.13);
    }
    .about_us__info-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
    }
  }
}
