* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #eff0f2;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 64px 0 213px 0;
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__logo {
    width: 113px;
    margin-bottom: 179px;
  }
  &__title {
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    line-height: 0.622;
    letter-spacing: 1.5px;
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
    color: #505050;
    &-span {
      background-color: #b2f2ee;
      padding: 0 10px;
    }
  }
  &__contact {
    text-align: center;
    margin-top: 170px;
    &-btn {
      text-transform: uppercase;
      border: 2px solid #777879;
      color: #3c3c3d;
      background-color: transparent;
      text-align: center;
      letter-spacing: 1.7px;
      font-weight: 500;
      font-size: 18px;
      padding: 14px 45px;
      transition: 0.3s;
      border-radius: 2px;
      cursor: pointer;
      outline: none;
      &:hover {
        background-color: #6eeee4;
        transition: 0.3s;
        color: white;
      }
      &:active {
        background-color: rgb(228, 229, 232);
        color: #214744;
        transition: 0.5s;
      }
    }
  }
  &__glass {
    &-img {
      position: absolute;
      right: 84px;
      top: 517px;
    }
  }
}

.main {
  &__title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 39px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323333;
    margin-bottom: 6px;
  }
  &__title-p {
    text-align: center;
    font-style: "Merriweather", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #848585;
    letter-spacing: 1.3px;
  }

  &__new-line {
    margin: 30px 0 32px;
  }

  //ABOUT US
  &__about-us {
    background-color: #f8fafa;
    padding: 120px 0 163px;
    &_content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 145px;
    }
    &_img-block {
      width: 46%;
      display: flex;
      justify-content: center;
      &_image {
        max-width: 392px;
        max-height: 483px;
        background-color: rgb(228, 229, 232);
        box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
      }
    }
    &_text {
      width: 46%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &_title,
      &_title2 {
        font-family: "Merriweather", sans-serif;
        text-transform: uppercase;
        color: #646565;
        letter-spacing: 1.4px;
      }
      &_title {
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 21px;
      }
      &_title2 {
        font-size: 17px;
        font-weight: 800;
        margin-bottom: 16px;
      }
      &_description {
        font-family: "Raleway", sans-serif;
        text-transform: none;
        color: rgba(0, 0, 0, 0.741);
        line-height: 1.75;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.9px;
      }
    }
  }

  //FEATURED WORKS
  &__works {
    padding: 121px 0 103px 0;
    background-color: #ffffff;
    &_content {
      margin-top: 59px;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 15px;
      row-gap: 10px;
      justify-content: center;
      &-item-image {
        max-width: 370px;
        max-height: 359px;
        cursor: pointer;
      }
    }
  }
  //OUR TEAM
  &__team {
    padding: 105px 0 172px 0;
    background-color: #f9fbfb;
    &_content {
      margin-top: 118px;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 10px;
      column-gap: 16px;
      &-item-image {
        max-width: 370px;
        max-height: 440px;
        cursor: pointer;
      }
    }
  }

  //CONTACT US
  &__contact-us {
    background: url("../img/contact-background.png") no-repeat center;
    background-size: 100%;
    opacity: 0.8;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 129px 0 123px 0;
    color: #b3bbc0;
    letter-spacing: 1px;
    &_content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }
    &_hiden {
      display: none;
    }
    &_form,
    &_info {
      background-color: rgb(2, 22, 35);
      opacity: 0.9;
      box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12);
    }
    &_form {
      display: flex;
      flex-direction: column;
      padding: 46px 35px 41px;
      &_name,
      &_subject,
      &_email,
      &_message {
        outline: none;
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid rgba(204, 207, 209, 0.2);
        color: #b3bbc0;
        &::placeholder {
          color: #b3bbc0;
          letter-spacing: 0.9px;
        }
      }
      &_subject,
      &_email,
      &_message {
        margin-top: 29px;
      }

      &_name,
      &_subject,
      &_email {
        padding-bottom: 13px;
      }

      &_message {
        padding-bottom: 77px;
      }
      &_submit {
        display: flex;
        align-self: flex-start;
        text-transform: uppercase;
        padding: 15px 35px;
        font-family: "Montserrat", serif;
        font-size: 18px;
        font-weight: 600;
        color: #214744;
        border: 1px solid #777879;
        outline: none;
        text-align: center;
        letter-spacing: 1.7px;
        border-radius: 2px;
        background: #6eeee4;
        margin-top: 36px;
        color: #214744;
        transition: 0.5s;
        &:hover {
          background-color: transparent;
          color: white;
          transition: 0.5s;
        }
        &:active {
          background-color: rgb(228, 229, 232);
          color: #214744;
          transition: 0.5s;
        }
      }
    }
    &_info {
      padding: 34px 30px 20px;
      font-size: 15px;
      letter-spacing: 0;
      display: flex;
      flex-direction: column;
      a {
        outline: none;
        text-decoration: none;
        color: #b3bbc0;
      }
      &_address-line2,
      &_address-phone,
      &_address-fax,
      &_address-email {
        margin-top: 6.2px;
      }
      &_address-site {
        margin-top: 32px;
      }
    }
    &_map {
      width: 100%;
      height: 224px;
      margin-top: 24px;
      opacity: 1;
    }
  }
}

// FOOTER

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px 0 152px;
  background-color: #262b2e;
  a {
    outline: none;
    color: white;
    border: none;
  }
  &__title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    margin-top: 15px;
    &_item {
      background-color: #3f4244;
      width: 45px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        margin-right: 8px;
      }
      &:hover {
        background-color: #6eeee4;
        color: black;
        transition: 0.3s;
      }
    }
  }
}

// MODAL
.hiden {
  display: none;
}

.hiden-scroll {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  &__container {
    width: 600px;
    display: flex;
    flex-direction: column-reverse;
  }
  &__image {
    width: 100%;
  }
  &__close-button {
    width: 110%;
    border: none;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 60px;
    font-weight: bold;
    color: #b2f2ee;
    display: flex;
    justify-content: flex-end;
  }
  &__overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
// END OF MODAL
